<h1>会員情報編集</h1>
<%= render 'layouts/errors', obj: @customer %>
<table class="table">

 <tboody>
<%= form_with model: @customer,url: customers_mypage_path do |f| %>
    <tr>
    <div class="field">
       <th><%= f.label :名前 %></th>
       <th>（姓）<%= f.text_field :first_name, class: "form-control", autofocus: true %></th>
      <th>（名）<%= f.text_field :last_name, class: "form-control" %></th>
    </div>
      </tr>

   <tr>
   <div class="field">
       <th><%= f.label :フリガナ %></th>
       <th>（セイ）<%=  f.text_field :first_name_kana, class: "form-control" %></th>
      <th>（メイ）<%= f.text_field :last_name_kana, class: "form-control" %></th>
       </div>
     </tr>

   <tr>
   <div class="field">
       <th><%= f.label :郵便番号（ハイフンなし） %></th>
       <th><%=  f.text_field :postcode, class: "form-control", autocomplete: "postcode", id: "customer_postcode" %></th>
        </div>
     </tr>
 <!--入るとエラーJpPrefecture::Prefecture.all, :code, :name, -->
   <tr>
    <div class="field">
       <th><%= f.label :住所 %></th>
       <th><%=  f.text_area :address, class: "form-control",autocomplete: "address", id: "customer_address" %></th>
    </div>
     </tr>

   <tr>
    <div class="field">
       <th><%= f.label :電話番号（ハイフンなし） %></th>
       <th><%=  f.text_field :telephone_number, class: "form-control" %></th>
     </div>
     </tr>


     <tr>
    <div class="field">
    <th><%= f.label :email %></th>
    <th><%= f.email_field :email, autocomplete: "email", class: "form-control" %>
   </th>
    </div>
    </tr>

    <tr>
      <th><%= f.submit '編集内容を保存する', class: "btn btn-success" %></th>

      <th><%= link_to '退会する', customers_check_path, class: "btn btn-danger" %>
       </th>
    </tr>

</tbody>
<% end %>
</table>
