<div class='container px-5 px-0'>
  <div class='row'>

    <div class="card mt-5 col-2">
      <div class="card-body", style="height: 40px;">
        <p class="card-title">ジャンル検索</p>
        <% @genres.each do |genre| %>
          <div class="card-text"><%= genre.name %></div>
        <% end %>
      </div>
    </div>

    <div class='col-8 offset-1 mt-5 '>
      <div class="jumbotron"
             style="background:url('assets/cake-top.jpg');
                    background-size:cover;
                    background-color:rgba(255,255,255,0.5);
                    background-blend-mode:lighten;">
          <h5 class="display-8">ようこそ、ながのCAKEへ！</h5>
          <p><br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でない方も商品の閲覧は出来ますが、<br>
          購入には会員登録が必要になります。</p>
      </div>

      <div class='row ml-1'>
        <h4>新着商品</h4>
      </div>
      <div class="row">
        <% @menus.each do |menu| %>
          <div class="col-md-4">
            <%= link_to menu_path(menu.id) do %>
              <div><%= image_tag menu.get_image(120, 90) %></div>
            <% end %>
            <div><%= menu.name %></div>
            <div>￥<%= menu.tax_in_price %></div>
          </div>
        <% end %>

        <div class="justify-content-end mt-3">
          <%= link_to "全ての商品を見る>", menus_path %>
        </div>

      </div>
    </div>


  </div>
</div>





