<h1>Public::Menus#show</h1>

<%= image_tag @menus.get_image(90, 60) %>
<%= @menu.name %>
<%= @menu.info %>
<div>￥<%= @menu.tax_in_price %>(税込)</div>

<!--個数選択(a)-->
<%= form_tag menus_path, class: "form-inline" do %>
  <%= select_tag :quantity, options_for_select(["個数選択", 1, 2, 3, 4, 5, 6, 7, 8 ,9]), class: "form-control" %>
<% end %>

<%#= link_to "カートに入れる", cart_items_path,method: :patch, class: "btn btn-success" %>

<!--商品の販売状況で表示を変える(a)-->
<%# if @item.is_sale == TRUE %>
<% if @menu.is_sale? %>
<%= form_with @menu do |f| %>
  <!--ユーザーには見せたくないが取得が必要な情報にhidden_fieldを使う(a)-->
  <%= f.hidden_field :menu_id, value: @menu.id %>
  <%= f.submit "カートに入れる" %>
<% else %>
  <div class="btn btn-info">売り切れ中です</div>
<% end %>
