<div class='container px-5 px-0'>
  <div class="row">
    <div class='col-3'>
      <p>ジャンル検索</p>
      <% @genres.each do |genre| %>
        <div><%= genre.name %></div>
      <% end %>
    </div>

    <div class='col-4'>
      <%= image_tag @menu.get_image(300, 200) %>
    </div>

    <div class='col-5'>
      <h5><%= @menu.name %></h5>
      <%= @menu.info %>
      <div>￥<%= @menu.tax_in_price %>(税込)</div>







    </div>
  </div>
</div>
